/* This file contains the CSS for the Disabled button in orderStatus */

  .edit-button.disabled {
    background-color: grey; 
    color: white;
   }
  
  .edit-button.disabled:hover {
    background-color: grey; 
    color: white; 
  }