/* CSS for view Drivers.jsx */
/*

Tyler Costa 19075541
*/

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* heading text */
h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

/* button styles */
.driverButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* button hover state */
.deleteDriverButton {
    background-color: #d20000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* container for drivers */
.driverContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}