.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  /* Styles for the main content area of the page */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Styles for the main heading of the page */
  .order-card {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
  }
  
  /* Styles for the form container */
  .order-actions {
    display: flex;
    justify-content: space-between;
  }
  
  /* Styles for the form */
  button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  /* Styles for the buttons */
  button:hover {
    background-color: #0056b3;
  }

  /* Styles for the main content area of the page */
  .masterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    min-width: 1400px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
  }
  /* Styles for the main heading of the page */
  .date-text {
    text-align: center;
  }
/* Styles for the main content area of the page */
  .order-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  /* Styles for the form container */
  .order-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /* Styles for the form */
  .order-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  /* Styles for the buttons */
  .order-actions button:hover {
    background-color: #0056b3;
  }
  
/* Styles for the main content area of the page */
  .selected-orders-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }