/* Header.css */

.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0; /* Increase padding for a more spacious look */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px; /* Increase padding for more space on the sides */
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
    gap: 20px; /* Add gap to create space between elements */
}

.title {
    font-size: 2rem; /* Increase font size for more emphasis */
    margin: 0;
    margin-left: 10px;
    color: #333333;
    font-weight: 600; /* Make the title bolder */
}

.search-bar-container {
    margin-right: 20px;
}

.search-bar {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease; /* Add transition for a smooth effect */
}

.search-bar:focus {
    border-color: #333333; 
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.login,
.signup {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ffcc29;
    color: #333333;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.login:hover,
.signup:hover {
    background-color: #ffc107;
    transform: scale(1.05); /* Increase size on hover */
}
.auth-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}