/* Header.css */

/* this class is used to style the header container */
.header-container {
    box-sizing: border-box;
    background-color: #f8f9fa;
    padding: 40px 40px 20px; /* Added bottom padding */
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px; /* Increased height to accommodate bottom padding */
    position: relative;
    text-size-adjust: 100%;
  }
  
  /* this class is used to style the header content */
  .header-content {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /* this class is used to style the left section of the header */
  .header-left-section {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .header-title {
    font-weight: bold;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 33px;
    color: #000; /* Black color for 'Manage' */
  }
  
  .header-title span {
    color: #1e293b; /* Different color for 'My Lunch' */
  }
  
  /* this class is used to style the right section of the header */
  .header-right-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* this class is used to style the search bar */
  .header-search-bar {
    height: 40px;
    width: 500px;
    background-color: rgb(226, 226, 226);
    color: black;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .header-search-bar:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
  
  .header-auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* this class is used to style the login and signup buttons */
  .header-login-button, .header-signup-button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 0.5rem; /* Reduced border radius */
    box-sizing: border-box;
    color: #1e293b; /* Adjusted font color */
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.9rem; /* Reduced font size */
    font-weight: 600;
    line-height: 1;
    padding: 0.8rem 1.4rem; /* Reduced padding */
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .header-login-button:hover, .header-signup-button:hover {
    background-color: #1e293b;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .header-login-button, .header-signup-button {
      font-size: 1rem; /* Reduced font size */
      padding: 0.9rem 1.8rem; /* Reduced padding */
    }
  }
  