/*
Login css 

Vidhusan Surenthiran 
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Main container for the page, set to take up at least the full height of the viewport */
.loginPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 40px; 
}

/* Form container */
.loginFormContainer {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding: 60px; 
    margin: 20px;
    width: 90%; 
    max-width: 800px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* login form over */
.loginFormContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Form title */
.formTitle {
    margin-bottom: 30px; 
    font-size: 2em; 
    color: #646cff;
}

/* Input group */
.inputGroup {
    margin-bottom: 40px; 
}

/* Input fields */
input[type="email"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s;
    font-size: 1.2em; 
}

/* Submit button */
input[type="email"],
input[type="password"] {
    width: 100%; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    transition: border-color 0.3s;
    font-size: 1.2em; 
    box-sizing: border-box; 
}

/* Submit button */
.submitButton {
    background-color: #646cff;
    color: #fff;
    border: none;
    padding: 20px 0; 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1.2em; 
    transition: background-color 0.3s;
    width: 100%; 
    box-sizing: border-box; 
}

/* Submit button hover state */
.submitButton:hover {
    background-color: #535bf2;
}

/* Forgot password link */
.forgotPassword {
    color: #646cff;
    text-decoration: none;
    transition: color 0.3s;
    margin-top: 20px; 
    display: inline-block; 
}

/* Forgot password link hover state */
.forgotPassword:hover {
    color: #535bf2;
}