/*
Css for the menu item editor

Created by Ranier De Gracia

*/

.MenuItemEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }
  
  /* menuItemEditor form */
  .MenuItemEditor form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* menuItemEditor label */
  .MenuItemEditor label {
    margin: 10px 0;
  }