.createReward {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.createReward h1 {
    text-align: center;
    color: #333;
}

.createReward .disclaimer {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}

.createReward label {
    display: block;
    margin-bottom: 5px;
}

.createReward select, 
.createReward input {
    display: block;
    width: 50%; /* Adjust this value as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; /* Adjust this value as needed */
}
