/*
CSS for update password page

- Tyler Costa 19075541

*/
*

.user-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* User box */
  .user-box {
    flex: 0 0 calc(33.33% - 20px); 
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* User select */
  .userSelect {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  
  /* User select hover effect */
  .userSelect:hover {
    background-color: lightblue;
    color: black;
  }

  /* Update button */
  .update-button {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  
  /* Update button hover effect */
  .update-button:hover {
    background-color: rgb(202, 0, 0);
    color: black;
  }

  .input-small {
    width: 100%;
    height: 30px; 
    margin-bottom: 10px;
  }