.edit-button {
    /* Your normal button styles here */
  }
  
  .edit-button.disabled {
    background-color: grey; /* Change to the color you want */
    color: white; /* Change to the color you want */  }
  
  .edit-button.disabled:hover {
    background-color: grey; /* Same color as the non-hover state */
    color: white; /* Same color as the non-hover state */
  }